html {
  background-color: #e0eef7;
}

body {
  margin: 0%;
}

a:link {
  text-decoration: none;
}

#legendsCorp {
  border-radius: 30%;
  display: block;
  margin: 0px auto;
  margin-top: 1%;
  margin-bottom: 1%;
  box-shadow: 0px 15px 20px rgb(46, 102, 167);
  max-width: 60%;
}

.text-center {
  text-align: center;
}

.smallImg {
  width: 10%;
  height: 10%;
}

/* NAVBAR */

#logoNav {
  height: 100%;
  width: 60px;
  max-width: 30%;
  border-radius: 40%;
  border: white solid 2px;
  margin-right: 20px;
}

nav,
ul,
li,
.table a {
  box-sizing: border-box;
}

nav li {
  list-style-type: none;
  border-top: 3px solid #274479;
  padding: 1% 0%;
}

nav .table ul {
  margin: 0;
  flex-direction: column;
  display: flex;
  text-align: center;
  align-items: center;
}

nav {
  width: 100%;
  background-color: #274479;
}

nav a {
  display: block;
  text-decoration: none;
  padding: 20px 30px;
  color: #fefefe;
  text-transform: uppercase;
  font-size: 15px;
}

li:hover {
  border-top: 3px solid #f1dc4f;
  background-color: RGBa(241, 211, 79, 0.15); /* Vert */
}

/* Affichage smartphone */

@media screen and (min-width: 560px) {
  nav .table ul {
    margin: 0px;
    flex-direction: row;
    justify-content: center;
  }
}

/* END NAVBAR */

/* FOOTER */

/* footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #274479;
  color: #fff;
  text-align: center;
  bottom: 0;
  width: 100%;
  position: absolute;
  padding-top: 50px;
}

#teleportation {
  max-width: 6%;
  margin-bottom: 1%;
  border-radius: 50%;
  border: 2px solid #fefefe;
} */

/* END FOOTER */

/* SUBSCRIBE PAGE */

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  box-shadow: 0px 2px 2px #999;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  background-color: #ddd;
  outline: none;
}

.registerbtn,
#accountSubmit {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  display: block;
  margin: auto;
  font-size: large;
  border: none;
  cursor: pointer;
  width: 60%;
  margin-top: 2%;
  text-align: center;
  box-shadow: 0px 5px 10px #999;
}

.registerbtn:hover {
  opacity: 1;
}

#containerRegister {
  padding: 16px;
  margin-left: 20%;
  margin-right: 20%;
}

.signin {
  text-align: center;
}

/* END SUBSCRIBE PAGE */

/* ABOUT PAGE */

.card {
  width: 400px;
  margin: 0px auto;
  background-color: white;
  box-shadow: 0px 5px 20px #999;
  margin-top: 3%;
  margin-bottom: 3%;
}
.card a {
  color: #333;
  text-decoration: none;
}
.card:hover .card-image img {
  width: 160%;
  filter: grayscale(0);
}

.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
}

.card-text {
  padding: 2px 10px 10px 10px;
  text-align: center;
}

/* END ABOUT PAGE */

/* HOME PAGE */

.container {
  margin: 5px;
}

.categories {
  padding: 10px;
}

.category {
  background-color: #3a5992;
  margin: 20px 5px;
  color: black;
  padding: 5px 0px;
  border-radius: 30px;
}

.categoryTop {
  display: flex;
  align-items: center;
  padding-left: 14px;
  margin: 15px 0px;
}

.imgCategory {
  width: 5%;
  height: 5%;
  border: black solid 1px;
  border-radius: 25px;
}

.categoryTitle {
  padding-left: 30px;
  color: white;
}

.themes {
  padding: 10px;
}

.descriptionSubcategory {
  font-style: italic;
  font-size: small;
  padding: 10px;
}

.theme {
  background-color: #e0eef7;
  padding: 15px;
  margin: 15px;
  color: black;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.logoTheme {
  width: 5%;
  height: 5%;
}

.theme > * {
  margin: 0px 5px;
}

/* END HOME PAGE */

/* ACCOUNT PAGE */

.accountContainer {
  padding: 20px 40px;
  margin-left: 20%;
  margin-right: 20%;
}
/*
#email {
}

#pseudo {
}

#newMdp {
}

#mdp {
}

.inputAccount {
} */

/* END ACCOUNT PAGE */

/* LIST POST PAGE */

.listPostTop {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 20px 5px;
  background-color: #274479;
  border-radius: 30px;
  color: white;
}

.listPost {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  color: white;
  margin: 20px 5px;
  background-color: #274479;
  padding: 20px;
}

.post {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  margin: 10px;
  background-color: #e0eef7;
  color: black;
  padding: 15px;
}

/* END LIST POST PAGE */
